.column {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 60px;
  min-width: 240px;
  padding: .5rem;

  &__title {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid rgb(128 128 128 / 43.8%);
    border-radius: .25rem;
    padding: .25rem;
    margin-bottom: 1rem;
  }

  @keyframes shake {
    0% {
      transform: translateX(0%);
    }

    25% {
      transform: translateX(10%);
      transform: rotate(20deg);
    }

    50% {
      transform: translateX(-10%);
      transform: rotate(-20deg);
    }

    75% {
      transform: translateX(10%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  &__delete {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    cursor: pointer;

    &:hover{
      animation-duration: .3s;
      animation-name: shake;
    }
  }
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.task{
  margin: 0 0 1rem;
}

.create{
  width: 100%;
  text-align: center;
}