*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page {
  display: flex;
  overflow: auto;
  padding: 1rem;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  flex-grow: 1;
}

.modal{
  display: flex;
  justify-content: center;
  align-items: center;
}

.float {
  text-shadow: 7px 7px 12px #000000cf;
  animation: float-kf 2s ease-in-out infinite;
  animation-direction: alternate;
}

@keyframes float-kf {
  0% {
    transform: translateY(0)
  }

  100% {
    transform: translateY(-12px)
  }
}